<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
<body >
    <%- include('./partials/header') %>
    <section id="section-path-nav">
        <div>
            <h3>Home | </h3>
        </div>
    </section>   
    <section id="section-cuerpo">
        <section id="section-carrusel-destacados">
            <div id="carrusel">
                <!-- contenido del carrusel-->               
                <img src="/images/carrusel_01.jpg" alt="Imagen de Iphone-11">
                <h4>Promoción para el día del Papa</h4>
                <div id="opciones-carrusel">
                    <a><i class="fas fa-arrow-alt-circle-left"></i></a>
                    <a><i class="fas fa-arrow-alt-circle-right"></i></a>
                </div> 
            </div>
            <div id="destacados">
                <!-- contenido de productos destacados-->
                <h1>Productos destacables</h1>
                <div id="Ronda-productos-destacados">
                    <a href="/detalle-producto"><article class="producto">
                        <img src="/images/destacado_01.jpg" alt="Imagen de Iphone-11">
                        <h2>Modelo: 0501-Slim</h2>
                        <h3>$1,000</h3>
                    </article></a>
                    <a href="/detalle-producto"><article class="producto">
                        <img src="/images/destacado_01.jpg" alt="Imagen de Iphone-11">
                        <h2>Modelo: 0502-Slim</h2>
                        <h3>$1,100</h3>
                    </article></a>
                    <a href="/detalle-producto"><article class="producto">
                        <img src="/images/destacado_01.jpg" alt="Imagen de Iphone-11">
                        <h2>Modelo: 0503-Slim</h2>
                        <h3>$950</h3>
                    </article></a>
                    <a href="/detalle-producto"><article class="producto">
                        <img src="/images/destacado_01.jpg" alt="Imagen de Iphone-11">
                        <h2>Modelo: 0504-Slim</h2>
                        <h3>$1,200</h3>
                    </article></a>  
                    <a href="/detalle-producto"><article class="producto">
                        <img src="/images/destacado_01.jpg" alt="Imagen de Iphone-11">
                        <h2>Modelo: 0503-Slim</h2>
                        <h3>$950</h3>
                    </article></a>
                    <a href="/detalle-producto"><article class="producto">
                        <img src="/images/destacado_01.jpg" alt="Imagen de Iphone-11">
                        <h2>Modelo: 0504-Slim</h2>
                        <h3>$1,200</h3>
                    </article></a>                      
                </div>                              
            </div>        
        </section>
        <section>
            <!-- contenido de los productos notables-->
        </section>
        
    </section> 
</body>
<%- include('./partials/footer') %>
</html>