
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;     
    font-family: 'Roboto',sans-serif;
    font-size: medium; 
}

.buffer-footer {
    width: 100%;
    height: 137px;

}
.buffer-header {
    width: 100%;
    height: 100px;
}


#main-header-footer {
    background-color:#DEDBDB;
    padding: 8px;    
    display: flex;
    position: fixed;
    width: 100%;
}
.main-header {
    position: relative;
    left: 0;
    top: 0; 
}
.main-header-opciones {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-header-search-carrito-login,
.main-header-menu {
    margin: auto;
    display: flex;
    align-items: center;
    width: 80%;
    justify-content: space-between;
}
#main-header-search {
    display: flex;
    align-items: center;
    background-color: white;
    border: 2px solid gray;
    width: 150px;
    height: 30px;
    justify-content: flex-start;
    border-radius: 50px;    
}
#main-header-search a {
    margin:8px;
}
#search {
    border:0;
    height: calc(100% - 4px);
    width: 70%;
    border-radius: 50px;
    font-size: 14px;
}
#search:focus {
    outline-width: 0;
}
#iconos-shopping-user {
    font-size: 25px;
    margin: 0 15px;
}
.main-footer {
    position: relative;
    left: 0;
    bottom: 0;
    flex-direction: column;
    width: 100%;
}
.main-footer-1er {
    display: flex;
    justify-content: space-between;
}
.main-footer-2do ul {
    display:flex;
    justify-content: space-evenly;
}
.main-footer  .main-logo {
    display: none;
}
.main-logo {
    height:80px;
    width:70px;
}
.main-footer-menu01,.main-footer-menu02 {
    border-right: solid rgb(143, 143, 143) 2px;
}
.main-footer-menu01, .main-footer-menu02, 
.main-footer-menu03 {
    width: 33%;
    display: flex;
    justify-content: center;
}
.main-header-menu-navbar {
    width: 100%;
}
.main-header-menu-navbar ul{
    display: flex;
    width: 100%;
}
.main-header-menu-navbar li {
    width: 33%;
}
.main-header-menu-navbar  ul, .main-footer-menu01-navbar  ul,
.main-footer-menu02-navbar  ul, .main-footer-menu03-navbar  ul,
.main-footer-2do ul {
    list-style: none;
    margin: 5px;
    padding: 0 0 0 10px;
    text-align: center;
}
.main-header-menu-navbar  a, .main-footer-menu01-navbar  a,
.main-footer-menu02-navbar  a, .main-footer-menu03-navbar  a {
    text-decoration: none;
    color: black;
    display: inline-block;
    padding: 5px 0px;
    font-size: 13px;
    font-weight: bold;
    width: 100%;
    min-width: 100px;
}
.main-header-menu-navbar  a {
    min-width: 80px;
}
.main-footer-2do a {
    font-size: 20px;
}
.main-footer-2do {
    border-top: solid rgb(143, 143, 143) 2px;
}
.main-header-menu-navbar a:hover, .main-footer-menu01-navbar a:hover,
.main-footer-menu02-navbar a:hover, .main-footer-menu03-navbar a:hover {
    background-color: rgb(54,224,224);
}
#Tipografia_footer {
    font-size:10px;
}
#main-footer-separador {
    padding: 1px;
    width: 100vw;
}
/* **************************************************/
#section-path-nav {
    margin-top: 0px;
    padding: 5px;
}
#section-path-nav h3 {
    background-color: rgb(54, 224, 224);
    width: 50%;
    font-size: 12px;
    padding: 2px;
}
#section-cuerpo {
    display: flex;
    flex-direction: column;
}

#section-carrusel-destacados {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#carrusel {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#opciones-carrusel {
    padding: 10px;
    width: 95vw;
    display: flex;
    justify-content: center;
}
#opciones-carrusel a {
    padding: 0 20px;
}
#carrusel img {
    width: 80vw;
    margin-top: 10px;
    z-index: -11;
}
#carrusel h4 {
    position: absolute;
    margin-top: 40px;
    color: white;
    z-index: -10;
}
#carrusel a{
    font-size: 25px;
}
#destacados, #categoria-destacados {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    border-radius: 50px;
    padding: 10px 40px;
    margin: 10px;
    width: 85vw;
}

#categoria-destacados {
    width: 80%;
}

#destacados h1 {
    font-size: 18px;
    padding: 5px 0;
}
.producto {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.producto:hover {
    background-color: rgb(54, 224, 224);
}
.producto img {  
    height: 200px;
    width: 90%;
    border: solid lightgray 3px;
    border-radius: 25px;
    margin: 1%;
    padding: 1%;
    text-align: center;
    
}
.producto p {
    font-size: 12px;
    padding: 2px 10px 2px 10px;
}
#Ronda-productos-destacados {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/* **************************************************/
.resumen{/*carrito*/
    display: flex;
    background-color: rgba(196, 196, 196, 1);
    border:2px black solid;
    width: 100%;
    height: 40%;
    margin-top: 60px;
    justify-content:flex-start;
    justify-content: space-between;
    align-items: center;
    padding-right: 2px;
}
.imagen-producto{/*carrito*/
    display: flex;
    width: 14%;
    height: 50%;
    background-color: white;
}
.carrito-datos{/*carrito*/
    display: flex;
    flex-wrap: wrap;
    margin-left: 15px;
    font-size: 60%;
    margin-bottom: 5%;

}
.carrito-dato{/*carrito*/
    display: flex;
    justify-content:space-between;
    align-items: center;
    font-size: 50%;
    margin-bottom: 5%;

}
.pos{/*carrito*/
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    /*align-items: center;*/
}
.resumen-de-compra{/*carrito*/
    display: flex;
    background-color: rgba(222, 219, 219, 1);
    border:2px black solid;
    width: 40%;
    height: 60%;
    margin-left: 30%;
    flex-direction: column;
    justify-content:space-between;
    padding-bottom: 60px;

}
.resumen-de-compra > label{/*carrito*/
    display: flex;
    justify-content: left;
    padding-left: 10px;
    font-size: 70%;
}
.resumen-de-compra > div{/*carrito*/
    display: flex;
    justify-content: center;
    font-size: 75%;
}
.pagar{/*carrito*/
    display: flex;
    background-color: rgba(65, 82, 236, 1);
    width: 100% ;
    height:30%;
    justify-content:center;
    align-items: center;
    position: relative;
    top:34%;
}
.Datos-resumen{/*carrito*/
    display: flex;
    width: 40%;
    height: 70%;
    justify-content:center;
    align-items: center;
    font-size: 18px;
    

}
.e{/*carrito*/
    display: flex;
    width: 100%;
    height: 400px;
    margin-top: 60px;
}
.min{/*carrito*/
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
}
.espacio{/*carrito*/
    margin-left: 30%;
}
/* **************************************************/
.imagen-detalle{/*detalle*/
    background-color: white;
    width: 43%;
    height: 50%;
    margin-top: 60px;
    margin-left: 4%;
    border: black solid 2px;
}
.detalle-imagen{/*detalle*/
    width: 100%;
    height: 100%;
}
.cuerpo-detalle{/*detalle*/
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 500px;
    margin-top: 60px;
}
.descripcion-producto{/*detalle*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    width: 40%;
    height: 60%;
    margin-top: 60px;
    margin-left: 10%;
    border: black solid 1px;
    padding: 3%;
    
}
.descripcion-producto > div{/*detalle*/
    font-size: 80%;
}
.color{/*detalle*/
    display: flex;
    width: 70%;
    height: 5%;
    flex-direction: row;
    justify-content: space-around;
    align-items:flex-start;
    

}
.color > div{
    font-size: 90%;
}
.circulo_color{/*detalle*/
    width: 14%;
    height: 100%;
    background-color: black;
    border-radius: 50%;
}
.tallas{/*detalle*/
    display: flex;
    justify-content: space-between;
    width: 87%;
    height: 13%;
    align-items: center;
    padding: 2%;
}
.cuadros{/*detalle*/
    display: flex;
    height: 80%;
    width: 20%;
    background-color: rgb(133, 136, 139);
    justify-content: center;
    align-items: center;
    border: black 1px solid;
    font-size: 75%;
}
.a_carrito{/*detalle*/
    display: flex;
    flex-direction: row;
    width: 89%;
    height:9%;
}
.cantidad_carrito{/*detalle*/
   width: 20%;
   height: 100%;
   
}
.mandar_carrito{/*detalle*/
    display: flex;
    justify-content: center;
    width: 80%;  
    height: 100%;
    font-size: 90%;
    background-color: blue;
    border: 1px solid black;

}
.opciones_imagen{/*detalle*/
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: flex-start;
}
.imagenes_opcion{/*detalle*/
    height: 100%;
    width: 25%;
    background-color: white;
    border: black solid 2px;

}
.imagen_carrito{/*detalle*/
    width: 19%;
    height: 80%;
}

/* **************************************************/
.categorias-indicador{
    display: flex;
    background-color: rgba(202, 227, 227, 1);
    width: 40%;
    height: 5%;
    border-radius:30px;
    justify-content: center;
    align-items: center;
    font-size: 60%;
}
.categorias-cuerpo{
    display: flex;
    flex-direction: row;
    width: 100%;
    /* height: 500px; */
    
}

.categorias-categorias{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    padding: 2%;
    width: 36%;
    height: 100%;
    background-color: rgb(180, 238, 238);
    border-right: grey solid 2px;
}
.categorias-tipo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    /*height: 20%; */
    background-color: darkgray;

    padding: 10px;
    margin: 10px;
}
.categorias-nombre{
    font-size: 100%;
}
.categorias-desplegar{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 64%;
    height: 100%;
    border-left: grey solid 2px;
}
.categorias-filtro{
    width: 68%;
    height: 5%;
    background-color: rgb(143, 158, 207);
    border-radius: 23px;
    display: flex;
    justify-content:start;
    align-items: center;
    font-size: 70%;
}
.categorias-inventario{
    width: 100%;
    height: 85%;
    background-color: rgb(231, 231, 154);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    

}
.categorias-disposicion{
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: rgb(231, 231, 154);
    margin-top: 2%;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
}
.categorias-productos{
    width: 30%;
    height: 86%;
    background-color: white;


}
.categorias-imagenes{
    width: 100%;
    height: 74%;

}
.categorias-info{
    width: 100%;
    height: 24%;
    background-color: rgb(127, 172, 172);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 9px;
    

}
.datos{
    font-size: 60%;
}
.categorias-siguiente{
    height: 5%;
    background-color: rgb(145, 145, 240);
    display: flex;
    justify-content: center;

}


@media (min-width: 430px) {
    .datos{
        font-size: 70%;
    }
    .categorias-filtro{
        font-size: 90%;
    }
}
@media (min-width: 500px) {
    .datos{
        font-size: 70%;
    }
    .categorias-filtro{
        font-size: 90%;
    }
}



/* ****************************************media560**********/
@media (min-width: 560px) {
    .main-footer  .main-logo {
        display:block;
    }
    #main-header-search {
        width: 65%;
    }
    #search {
        width: 80%;
    }
    #Tipografia_footer {
        font-size:13px;
    }
/* ****************************************************** */ 

    .carrito-datos{/*carrito*/
        font-size: 75%;
        margin-bottom: 10%;
    }
    .carrito-dato{/*carrito*/
        font-size: 70%;
        margin-bottom: 10%;
    }
    .resumen-de-compra > label{/*carrito*/
        display: flex;
        justify-content: left;
        padding-left: 10px;
        font-size: 90%;
    }
    .resumen-de-compra > div{/*carrito*/
        display: flex;
        justify-content: center;
        font-size: 90%;
    }
    .pagar{/*carrito*/
        top:34.5%;
    }
    .Datos-resumen{/*carrito*/
        font-size: 18px;
    }
    .ind{
        font-size: 12px;
    }
    .categorias-productos{
        width: 28%;
    }
}
@media (min-width: 600px) {
    .categorias-productos{
        width: 26%;
    }
    .categorias-filtro{
        width: 50%;
    }
    .categorias-productos{
        height: 90%;
    }
}
/* *******************************************media700*******/
@media (min-width: 700px) {
    .main-header-opciones {
        flex-direction: row-reverse;
    }
    .main-header-search-carrito-login,
    .main-header-menu {
        padding: 15px;
    }
    .main-header-search-carrito-login {
        justify-content: flex-end;
    }
    .main-header-menu-navbar a {
        font-size: 15px;
    }
    #iconos-shopping-user {
        padding: 0 10px;
    }
    #main-header-footer {
        padding: 8px 30px;
    }
    #section-path-nav {
        padding: 5px 30px;
    }
    .main-footer-redes a {
        font-size: 25px;
    }
    /* ************************************************** */

    .carrito-datos{/*carrito*/
        font-size: 80%;
        margin-bottom: 5%;
    }
    .carrito-dato{/*carrito*/
        margin-bottom: 5%;
        font-size: 80%;
    }
    
    .espacio{/*carrito*/
        margin-left: 30%;
    }
    
    .resumen-de-compra > label{/*carrito*/
        display: flex;
        justify-content: left;
        padding-left: 10px;
        font-size: 90%;
    }
    .resumen-de-compra > div{/*carrito*/
        display: flex;
        justify-content: center;
        font-size: 90%;
    }
    .pagar{/*carrito*/
        top:34.5%;
    }
    .Datos-resumen{/*carrito*/
        font-size: 18px;
    }
    /* **************************************************/
 
    .imagen-detalle{/*detalle*/
        height: 70%;
    }
    .descripcion-producto{/*detalle*/
        height: 70%;
    }
    .color{/*detalle*/
        width: 60%;
        height: 7%;
    }
    .tallas{/*detalle*/
        height: 20%;
    }
    .cuadros{/*detalle*/
        width: 18%;
    }
    .a_carrito{/*detalle*/
        width: 85%;
    }
    .mandar_carrito{/*detalle*/
        display: flex;
        justify-content: flex-start;
        width: 80%;  
    
    }
    .opciones_imagen{/*detalle*/
        width: 100%;
        height: 20%;
        display: flex;
        justify-content: flex-start;
    }
    .imagenes_opcion{/*detalle*/
        width: 23%;
    }
    .imagen_carrito{/*detalle*/
        width: 16%;
        height: 90%;
    }
    .categorias-productos{
        width: 24%;
        margin-top: 1%;
    }
    .categorias-filtro{
        width: 50%;
    }
    .categorias-categorias{
        width: 30%;
        
    }
    .categorias-desplegar{
        width: 69%;
    }
    .categorias-siguiente{
        margin-top: 1%;
    }
}
@media (min-width: 800px) {
    .categorias-productos{
        width: 22%;
    }
    .categorias-filtro{
        width: 50%;
    }
    .categorias-categorias{
        width: 30%;
        
    }
    .categorias-desplegar{
        width: 69%;
    }

}
@media (min-width: 900px) {
    .categorias-productos{
        width: 22%;
    }
    .categorias-filtro{
        width: 50%;
    }
    .categorias-categorias{
        width: 30%;
        
    }
    .categorias-desplegar{
        width: 69%;
    }
    .categorias-siguiente{
        margin-top: 5%;
    }

}
@media (min-width: 1000px) {
    .categorias-disposicion{
        padding-left: 5%;
        padding-right: 5%;
        margin-top: 2%;
    }
    .categorias-productos{
        width: 22%;
        height: 95%;
    }
    .categorias-filtro{
        width: 50%;
    }
    .categorias-categorias{
        width: 30%;
        
    }
    .categorias-desplegar{
       height: 100%;
    }
    .categorias-siguiente{
        margin-top: 3%;
    }
    .categorias-disposicion{
        height: 32%;
    }

}
/* ************************************************media1200**/
@media (min-width: 1200px) {
    .main-footer, .main-header {
        max-width: 100%;
    }
    #section-path-nav {
        margin-top: 0px;
    }
    #section-cuerpo, #carrusel img,
    #opciones-carrusel, #destacados {
        max-width: 1000px;
    }
    #carrusel img, #carrusel h4,
    #opciones-carrusel, #destacados {
        margin-left: 180px;
    }
    /* ********************************** */
    .resumen{/*carrito*/
        padding:1%;
    }
    .imagen-producto{/*carrito*/
        width: 12%;
        height: 38%;
    }
    .carrito-datos{/*carrito*/
        font-size: 90%;
        margin-bottom: 10%;
    }
    .carrito-dato{/*carrito*/
        font-size: 90%;
        margin-bottom: 10%;
    }
    .resumen-de-compra{
        width: 30%;
    }
    .resumen-de-compra > label{/*carrito*/
        display: flex;
        justify-content:center;
        padding-left: 10px;
        font-size: 90%;
    }
    .resumen-de-compra > div{/*carrito*/
        display: flex;
        justify-content: center;
        font-size: 90%;
    }
    .pagar{/*carrito*/
        top:34.5%;
    }
    .Datos-resumen{/*carrito*/
        font-size: 24px;
    }
    /* ********************************** */

    .imagen-detalle{/*detalle*/
        width: 30%;
        height: 72%;
    }
    .descripcion-producto{/*detalle*/
        width: 30%;
        height: 72%;
    }
    .descripcion-producto > div{/*detalle*/
        font-size: 100%;
    }
    .color{/*detalle*/
        display: flex;
        width: 60%;
        height: 7%;
        justify-content: space-between;
        align-items:flex-start;
        
    
    }
    .tallas{/*detalle*/
        height: 20%;
    }
    .cuadros{/*detalle*/
        height: 90%;
        width: 18%;
    }
    .a_carrito{/*detalle*/
        width: 85%;
        height:10%;
    }

    .mandar_carrito{/*detalle*/
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 80%;  
    }
    .imagenes_opcion{/*detalle*/
        width: 23%;
    }
    .imagen_carrito{/*detalle*/
        width: 16%;
        height: 90%;
    }
    .categorias-disposicion{
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 0%;
        
    }
    .categorias-productos{
        width: 20%;
        height: 100%;
    }
    .categorias-filtro{
        width: 40%;
    }
    .categorias-categorias{
        width: 25%;
        
    }
    .categorias-desplegar{
       height: 100%;
       width: 65%;
    }
    .categorias-siguiente{
        margin-top: 1%;
    }
    .categorias-disposicion{
        height: 32%;
        margin-top: 1%;
    }
    .categorias-info{
        height: 18%;
        margin-top: 0%;
    }
    .categorias-imagenes{
        height: 78%;
    }

}

/* ***************** LISTINGS PAGE ***************** */

.listings{
    display: flex;
    flex-direction: column;
}
.listings .despliegue {
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 3%;
    width: 100%;

}
.listings .page-nav {
    align-items: flex-start;
    display: flex;
    height: 10%;
    justify-content: center;
    padding: 2%;
    width: 100%;
}
.listings .page-nav button{
    font-size: 1.5em;
    height: 70px;
    width: 300px;
}
.listings .productos, .listings .add-product{
    background-color: rgb(238, 238, 238);
    border: solid lightgray 3px;
    border-radius: 25px;
    margin: 1%;
    padding: 1%;
    text-align: center;
    width: 23%;
}
.listings .productos:hover, .listings .add-product:hover, .listings button:hover{
    background-color: rgb(221, 221, 221);
}

.listings .add-product:hover i, .listings .add-product:hover p {
    color: white;
}

.listings .add-product:hover div {
    background-color: rgb(207, 207, 207);
}

.listings .add-product {
    align-items: center;
    background-color: white;
    border: solid rgb(212, 212, 212) 3px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.listings .add-product div {
    background-color: rgb(240, 240, 240);
    border-radius: 25px;
    padding: 75% 22%;
}

.listings .add-product i {
    color: gray;
    font-size: 3em;
    margin: 10%;
}

.listings .add-product p {
    color: gray;
    font-size: 1.3em;
    margin: 10% 0;
}

.listings .title {
    align-items: center;
    background-color: lightgrey;
    display: flex;
    font-size: 1.5em;
    font-style: italic;
    font-weight: 400;
    height: 6vh;
    justify-content: center;
}

.listings .despliegue img {
    border-radius: 25px 25px 0 0 ;
    height: 400px;
    width: 100%;
}

.listings .data{
    background-color: white;
    font-size: 15px;
    border-radius: 0 0 25px 25px;
    padding: 5px;
   
}

.listings button {
    border: none;
    margin: 5px 10px;
    padding: 5px;
    width: 100px;
}

@media (max-width: 1100px) {
    .listings .despliegue img {
        height: 350px;
        
    }
    .listings .productos, .listings .add-product {
        width: 30%;
    }
}

@media (max-width: 850px){
    .listings .despliegue img {
        height: 450px;
        
    }
    .listings .productos  {
        width: 45%;
    }
    .listings .add-product {
        height: 200px;
        width: 95%;

    }
    .listings .add-product div{
        display: flex;
        flex-wrap: wrap;
        height: 100%;
        justify-content: center;
        width: 100%;
        padding: 2%;
    }
    .listings .add-product i, .listings .add-product p {
        align-items: center;
        display: flex;
        height: fit-content;
        justify-content: center;
        margin: auto 1%;
        width: fit-content;
    }
    .listings .page-nav button {
        font-size: 1em;
        height: 50px;
        margin-bottom: 5%;
        width: 200px;
    }
}

@media (max-width: 500px){
    .listings .productos, .listings .add-product {
        width: 70%;
    }

    .listings .despliegue{
        justify-content: center;

    }

    .listings .despliegue img {
        height: 350px;
    }

    .listings .add-product div {
        padding-top: 13%;
        align-items: flex-start;
    }

    .listings .add-product i, .listings .add-product p {
        margin: 0;
        width: 100%;
        
    }

    .listings .page-nav button {
        font-size: 1em;
        height: 40px;
        margin-bottom: 5%;
        width: 150px;
    }
}

@media (max-width: 350px){
    .listings .productos, .listings .add-product {
        width: 90%;
    }
}

/* ***************** LOGIN PAGE ***************** */

.register {
    align-items: stretch;
    display:flex;
    flex-wrap: wrap;
}

.register article {
    width: 100%;
}

.register a {
    color: black;
    text-decoration: none;
}

.register button {
    background-color: lightgray;
    border: none;
    font-weight: 400;
    margin: 15px;
    min-width: 50%;
    padding: 2% 10%;
}

.register form {
    display: block;
    padding: 5% 0 5% 0;
    text-align: center;
}

.register .info {
    font-size: 0.75rem;
    font-weight: bold;
}

.register input {
    height: fit-content;
    margin: 0 10px;
}
.register h2 {
    font-size: 1.2em;
    font-style: italic;
    font-weight: bold;
    text-align: center;
}

.register h3 {
    font-size: 1em;
    font-weight: 300;
}

.register label {
    align-items: center;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 15px;
    padding: 0 3%;
    
}

.register label a {
    text-decoration: underline;
}

.register label p {
    text-align: left;
    width: 30%;
}

.register label span, .register form span {
    color: red;
}

.register .login {
    margin-bottom: 15px;
}


.register label[for="remember-login"] p {
    font-size: 1em;
    width: fit-content;
}

.register .signup {
    margin-top: 10px;
}

.register .subtitle {
    background-color: lightgrey;
    padding: 10px;
}

#tnc a{
    font-size: 1em;
}

#tnc-statement {
    text-align: center;
    width: 50%;
}


@media (max-width: 325px) {

    .register label{
        justify-content: center;
    }

    .register label p {
        text-align: center;
        width: 100%;
    }
}


@media (max-width: 499px) {

    #tnc {
        justify-content: center;
    }
    
    #tnc-statement {
        text-align: center;
        width: 30%;
    }
}


@media (min-width: 500px){

    .register button {
        min-width: 35%
    }

    .register label p {
        width: 20%;
    }

    #tnc {
        margin: auto 0;
    }
}


@media (min-width: 550px){

    #tnc-statement {
        margin: 0 1%;
        width: auto;
    }

}

@media (min-width: 700px) {

    .register button {
        background-color: lightgray;
        border: none;
        font-size: 1.3em;
        min-width: 25%;
        padding: 2% 7%;
    }

    .register h2 {
        font-size: 1.5em;
    }

    .register h3 {
        font-size: 1.3em;
    }

    .register label p {
        width: 18%;
    }

    .register p {
        font-size: 1.2em;
    }
}

@media (min-width: 1000px){
    .register label p {
        width: 12%;
    }
}


@media (min-width: 1200px) {
    .register article {
        align-items: stretch;
        margin-bottom: 0;
        display: flex;
        height: 70vh;
    }

    .register button {
        min-width: 10%;
    }

    .register label {
        margin: 2%;
    }

    .register label p {
        height: fit-content;
        margin: 0;
        width: 20%;
    }

    .register .login {
        border-right: dotted gray 2px;
    }

    .register .login, .register .signup {

        display: block;
        margin: 0;
        width: 50%;
    }

    .register .subtitle {
        height: fit-content;
        width: 100%;
    }
}

/* ***************** PRODUCT EDITING PAGES ***************** */


.product-edit-field .add-photo-button {
    height: 100%;
    width: 100%;
}

.product-edit-field .gallery-row {
    align-items: stretch;
    display: flex;
    height: 25%;
    justify-content: space-evenly;
    margin: 0;
    width: 100%;
    
}

.product-edit-field label[for="add-photo-button"] {
    align-items: center;
    color: gray;
    display: flex;
    flex-wrap: wrap;
    font-size: 3rem;
    height: 100%;
    justify-content: center;
    min-width: 100%;
}


.product-edit-field .product-photo, .product-edit-field .add-product-photo {
    align-items: center;
    border: 3px solid lightgray;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    margin: 0 1%;
    width: 120px;
}

.product-edit-field .product-photo img, .product-edit-field .mb-product-photo img {
    height: 100%;
    width: 100%;
}

.product-edit-field .end-buffer {
    display: none;
}

.product-edit-field .retail-edit {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    height: 80vh;
    justify-content: center;
    padding: 0 10%;
    width: 100%;
}

.product-edit-field .retail-info-field {
    justify-content: flex-start;
}

.product-edit-field .photo-gallery {
    justify-content: flex-end;
}

.product-edit-field .retail-info-field, .product-edit-field .photo-gallery{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    height: 80%;
    width:50%;
}

.product-edit-field .info-row {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    height: 15%;
    justify-content: space-around;
    width: 90%;
}

.product-edit-field .info-row input[type="text"], .product-edit-field .info-row button, .product-edit-field .info-row textarea{
    display: block;
    height: fit-content;
    width: 100%;
}

.product-edit-field .info-row .by-two {
    width: 40%;
    display: flex;
    justify-content: space-between;
}

.product-edit-field .info-row select, .product-edit-field .info-row input[type="number"] {
    height: fit-content;
    margin: 0 1%;
    width: 60%;
}


.product-edit-field .info-row label {

    display: flex;
    font-style: italic;
    align-items: center;
    padding: 1%;
}

.product-edit-field .mb-photo-gallery, .product-edit-field .retail-info-field p {
    display: none;
}

.product-edit-field .product-photo i {
    color: gray;
    font-size: 2rem;
}

.product-edit-field .submit-area {
    background-color: lightgray !important;
    width: 90%;
}

.product-edit-field .submit-area button{
    background-color: lightgray;
    border: none;
    width: 100%;
}

.product-edit-field .retail-info-field div {
    background-color: rgb(243, 243, 243);
    border-radius: 10px;
    padding: 2%;
}

.product-edit-field .title {
    align-items: center;
    background-color: lightgrey;
    display: flex;
    height: 6vh;
    justify-content: center;
}

.product-edit-field .title h1 {
    font-size: 1.5em;
    font-style: italic;
    font-weight: 400;
}

.product-edit-field .retail-info-field .block {
    padding: 0 2%;
}

.product-edit-field .block label {
    padding: 0;
}







@media (max-width: 1000px) {

    .product-edit-field .retail-edit{
        padding: 0;
    }

    .product-edit-field .photo-gallery {
        display: none;
    }

    .product-edit-field .retail-info-field {
        height: 100%;
        width: 100%;
        flex: 1;
        padding: 0;
    }

    .product-edit-field .retail-info-field div, .product-edit-field .submit-area {
        background-color: white !important;
        margin-bottom: 10px;
    }

    .product-edit-field .retail-info-field p {
        display: block;
        font-style: italic;
        text-align: center;
        width: 100%;
    }

    .product-edit-field .info-row, .product-edit-field .submit-area {
        width: 100%;}

    .product-edit-field .submit-area button {
        height: 30px;
    }








    .product-edit-field .mb-product-photo, .product-edit-field .mb-add-product-photo {
        align-items: center;
        border: 3px solid lightgray;
        border-radius: 5%;
        display: flex;
        width: 120px;
        height: 120px;
        justify-content: center;
        margin: 0 5px;
        padding: 0 !important;

    }

    .product-edit-field .mb-add-product-photo {
        margin-left: 0;
    }

    .product-edit-field .mb-photo-gallery {
        display: flex;
        flex: 1;
        overflow: auto;
        padding: 0;
        width: 100%;
    }

    .product-edit-field .mb-gallery-row {
        display: flex;
        min-height: min-content;
        padding: 0 0 0 5px !important;
    }

    .product-edit-field .mb-product-photo i {
        color: gray;
        font-size: 2rem;
    }

    .product-edit-field label[for="mb-add-photo-button"] {
        align-items: center;
        color: gray;
        display: flex;
        flex-wrap: wrap;
        font-size: 3rem;
        height: 100%;
        justify-content: center;
        min-width: 100%;
    }
}

@media (max-width: 500px) {

    .product-edit-field .title h1 {
        font-size: 1.2em;
    }

    .product-edit-field .info-row .by-two {
        width: 100%;
        padding: 5%;
    }

    .product-edit-field .submit-area{
        margin-bottom: 20px;
    }

    .product-edit-field .end-buffer {
        display: default;
        height: 2vh;
    }

}
