* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;      
}
body {
    font-family: 'Roboto',sans-serif;
    font-size: medium;
}

#main-header-footer {
    position: fixed;
    background-color:#DEDBDB;
    padding: 8px;    
    display: flex;
    width: 100vw;
}
.main-header {
    left: 0;
    top: 0;  
}
.main-header-opciones {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.main-header-search-carrito-login {
    margin: auto;
    display: flex;
    align-items: center;
    width: 220px;
    justify-content: space-between;
}
#main-header-search {
    display: flex;
    align-items: center;
    background-color: white;
    border: 2px solid gray;
    width: 150px;
    height: 30px;
    justify-content: flex-start;
    border-radius: 50px;    
}
#main-header-search a {
    margin:8px;
}
#search {
    border:0;
    height: calc(100% - 4px);
    width: 105px;
    border-radius: 50px;
    font-size: 14px;
}
#search:focus {
    outline-width: 0;
}
#iconos-shopping-user {
    font-size: 25px;
    margin: 0 15px;
}
.main-footer {
    left: 0;
    bottom: 0;
    flex-direction: column;
}
.main-footer-1er {
    display: flex;
    justify-content: space-around;
}
.main-footer-2do ul {
    display:flex;
    justify-content: space-evenly;
}
.main-footer  .main-logo {
    display: none;
}
.main-logo {
    height:80px;
    width:70px;
}
.main-footer-menu01,.main-footer-menu02 {
    border-right: solid rgb(143, 143, 143) 2px;
}
.main-header-menu-navbar  ul{
    display: flex;
}
.main-header-menu-navbar  ul, .main-footer-menu01-navbar  ul,
.main-footer-menu02-navbar  ul, .main-footer-menu03-navbar  ul,
.main-footer-2do ul {
    list-style: none;
    margin: 5px;
    padding: 0 0 0 10px;
    text-align: center;
}
.main-header-menu-navbar  a, .main-footer-menu01-navbar  a,
.main-footer-menu02-navbar  a, .main-footer-menu03-navbar  a {
    text-decoration: none;
    color: black;
    display: inline-block;
    padding: 5px 0px;
    font-size: 13px;
    font-weight: bold;
    width: 100%;
    min-width: 100px;
}
.main-header-menu-navbar  a {
    min-width: 80px;
}
.main-footer-2do a {
    font-size: 20px;
}
.main-footer-2do {
    border-top: solid rgb(143, 143, 143) 2px;
}
.main-header-menu-navbar a:hover, .main-footer-menu01-navbar a:hover,
.main-footer-menu02-navbar a:hover, .main-footer-menu03-navbar a:hover {
    background-color: rgb(54,224,224);
}
#Tipografia_footer {
    font-size:10px;
}
#main-footer-separador {
    padding: 1px;
    width: 100vw;
}

#section-path-nav {
    position: fixed;;
    margin-top: 100px;
    padding: 5px;
}
#section-path-nav h3 {
    background-color: rgb(54, 224, 224);
    width: 50px;
    font-size: 12px;
    padding: 2px;
}

@media (min-width: 560px) {
    .main-footer  .main-logo {
        display:block;
    }
    #Tipografia_footer {
        font-size:13px;
    }
}
@media (min-width: 1200px) {
    .main-footer, .main-header {
        max-width: 1200px;
        border:rgb(127, 183, 211) solid 5px;
    }
}