
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;      
}
body {
    font-family: 'Roboto',sans-serif;
    font-size: medium;
}

#main-header-footer {
    background-color:#DEDBDB;
    padding: 8px;    
    display: flex;
    width: 100vw;
}
.main-header {
    position: fixed;
    left: 0;
    top: 0;  
}
.main-header-opciones {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-header-search-carrito-login,
.main-header-menu {
    margin: auto;
    display: flex;
    align-items: center;
    width: 80%;
    justify-content: space-between;
}
#main-header-search {
    display: flex;
    align-items: center;
    background-color: white;
    border: 2px solid gray;
    width: 150px;
    height: 30px;
    justify-content: flex-start;
    border-radius: 50px;    
}
#main-header-search a {
    margin:8px;
}
#search {
    border:0;
    height: calc(100% - 4px);
    width: 70%;
    border-radius: 50px;
    font-size: 14px;
}
#search:focus {
    outline-width: 0;
}
#iconos-shopping-user {
    font-size: 25px;
    margin: 0 15px;
}
.main-footer {
    flex-direction: column;
}
.main-footer-1er {
    display: flex;
    justify-content: space-between;
}
.main-footer-2do ul {
    display:flex;
    justify-content: space-evenly;
}
.main-footer  .main-logo {
    display: none;
}
.main-logo {
    height:80px;
    width:70px;
}
.main-footer-menu01,.main-footer-menu02 {
    border-right: solid rgb(143, 143, 143) 2px;
}
.main-footer-menu01, .main-footer-menu02, 
.main-footer-menu03 {
    width: 33%;
    display: flex;
    justify-content: center;
}
.main-header-menu-navbar {
    width: 100%;
}
.main-header-menu-navbar ul{
    display: flex;
    width: 100%;
}
.main-header-menu-navbar li {
    width: 33%;
}
.main-header-menu-navbar  ul, .main-footer-menu01-navbar  ul,
.main-footer-menu02-navbar  ul, .main-footer-menu03-navbar  ul,
.main-footer-2do ul {
    list-style: none;
    margin: 5px;
    padding: 0 0 0 10px;
    text-align: center;
}
.main-header-menu-navbar  a, .main-footer-menu01-navbar  a,
.main-footer-menu02-navbar  a, .main-footer-menu03-navbar  a {
    text-decoration: none;
    color: black;
    display: inline-block;
    padding: 5px 0px;
    font-size: 13px;
    font-weight: bold;
    width: 100%;
    min-width: 100px;
}
.main-header-menu-navbar  a {
    min-width: 80px;
}
.main-footer-2do a {
    font-size: 20px;
}
.main-footer-2do {
    border-top: solid rgb(143, 143, 143) 2px;
}
.main-header-menu-navbar a:hover, .main-footer-menu01-navbar a:hover,
.main-footer-menu02-navbar a:hover, .main-footer-menu03-navbar a:hover {
    background-color: rgb(54,224,224);
}
#Tipografia_footer {
    font-size:10px;
}
#main-footer-separador {
    padding: 1px;
    width: 100vw;
}

#section-path-nav {
    margin-top: 100px;
    padding: 5px;
}
#section-path-nav h3 {
    background-color: rgb(54, 224, 224);
    width: 50px;
    font-size: 12px;
    padding: 2px;
}
#section-cuerpo {
    display: flex;
    flex-direction: column;
}
#section-carrusel-destacados {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#carrusel {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#opciones-carrusel {
    padding: 10px;
    width: 95vw;
    display: flex;
    justify-content: center;
}
#opciones-carrusel a {
    padding: 0 20px;
}
#carrusel img {
    width: 80vw;
    margin-top: 10px;
    z-index: -11;
}
#carrusel h4 {
    position: absolute;
    margin-top: 40px;
    color: white;
    z-index: -10;
}
#carrusel a{
    font-size: 25px;
}
#destacados {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    border-radius: 50px;
    padding: 10px 40px;
    margin: 10px;
    width: 85vw;
}
#destacados h1 {
    font-size: 18px;
    padding: 5px 0;
}
.producto {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.producto:hover {
    background-color: rgb(54, 224, 224);
}
.producto img {
    width: 150px;
    padding: 10px;
}
.producto h2 {
    font-size: 12px;
}
.producto h3 {
    font-size: 10px;
    padding: 0 0 5px;
}
#Ronda-productos-destacados {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/* **************************************************/
.indicador-carrito{/*carrito*/
    display: flex;
    background-color: rgba(202, 227, 227, 1);
    width: 36%;
    height: 10%;
    border-radius:30px;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}
.resumen{/*carrito*/
    display: flex;
    background-color: rgba(196, 196, 196, 1);
    border:2px black solid;
    width: 100%;
    height: 38%;
    margin-top: 60px;
    justify-content:flex-start;
    justify-content: space-between;
    align-items: center;
    padding-right: 2px;
}
.imagen-producto{/*carrito*/
    display: flex;
    width: 14%;
    height: 50%;
    background-color: white;
}
.carrito-datos{/*carrito*/
    display: flex;
    flex-wrap: wrap;
    margin-left: 15px;
    font-size: 12px;
    margin-bottom: 3%;

}
.carrito-dato{/*carrito*/
    display: flex;
    justify-content:space-between;
    align-items: center;
    font-size: 12px;
    margin-bottom: 3%;

}
.pos{/*carrito*/
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    /*align-items: center;*/
}
.resumen-de-compra{/*carrito*/
    display: flex;
    background-color: rgba(222, 219, 219, 1);
    border:2px black solid;
    width: 40%;
    height: 70%;
    margin-left: 30%;
    flex-direction: column;
    justify-content:space-between;
    padding-bottom: 60px;

}
.resumen-de-compra > label{/*carrito*/
    display: flex;
    justify-content: left;
    padding-left: 10px;
    font-size: 15px;
}
.resumen-de-compra > div{/*carrito*/
    display: flex;
    justify-content: center;
    font-size: 15px;
}
.pagar{/*carrito*/
    display: flex;
    background-color: rgba(65, 82, 236, 1);
    width: 100% ;
    height:50px;
    justify-content:center;
    align-items: center;
    position: relative;
    top:27.9%;
}
.Datos-resumen{/*carrito*/
    display: flex;
    width: 40%;
    height: 70%;
    justify-content:center;
    align-items: center;
    font-size: 18px;
    

}
.e{/*carrito*/
    display: flex;
    width: 100%;
    height: 400px;
    margin-top: 60px;
}
.min{/*carrito*/
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
}
.espacio{/*carrito*/
    margin-left: 30%;
}
.indicador-detalle{/*detalle*/
    display: flex;
    background-color: rgba(202, 227, 227, 1);
    width: 380px;
    height: 30px;
    border-radius:30px;
    justify-content: center;
    align-items: center;


}
.imagen-detalle{/*detalle*/
    background-color: white;
    width: 40%;
    height: 60%;
    margin-top: 60px;
    margin-left: 4%;
    border: black solid 2px;
}
.detalle-imagen{/*detalle*/
    width: 100%;
    height: 100%;
}
.cuerpo-detalle{/*detalle*/
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 500px;
    margin-top: 60px;
}
.descripcion-producto{/*detalle*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    width: 40%;
    height: 60%;
    margin-top: 60px;
    margin-left: 10%;
    border: black solid 1px;
    padding: 3%;
    
}
.descripcion-producto > div{/*detalle*/
    font-size: 16px;
}
.color{/*detalle*/
    display: flex;
    width: 70%;
    height: 5%;
    flex-direction: row;
    justify-content: space-around;
    align-items:flex-start;
    

}
.color > div{
    font-size: 16px;
}
.circulo_color{/*detalle*/
    width: 14%;
    height: 100%;
    background-color: black;
    border-radius: 50%;
}
.tallas{/*detalle*/
    display: flex;
    justify-content: space-between;
    width: 87%;
    height: 13%;
    align-items: center;
    padding: 2%;
}
.cuadros{/*detalle*/
    display: flex;
    height: 80%;
    width: 20%;
    background-color: rgb(133, 136, 139);
    justify-content: center;
    align-items: center;
    border: black 1px solid;
    font-size: 14px;
}
.a_carrito{/*detalle*/
    display: flex;
    flex-direction: row;
    width: 89%;
    height:8%;
}
.cantidad_carrito{/*detalle*/
   width: 20%;
   height: 100%;
   
}
.mandar_carrito{/*detalle*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 89%;  
    font-size: 14px;
    background-color: blue;
    border: 1px solid black;

}
.opciones_imagen{/*detalle*/
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: flex-start;
}
.imagenes_opcion{/*detalle*/
    height: 100%;
    width: 25%;
    background-color: white;
    border: black solid 2px;

}
.imagen_carrito{/*detalle*/
    width: 19%;
    height: 80%;
}
@media (min-width: 560px) {
    .main-footer  .main-logo {
        display:block;
    }
    #main-header-search {
        width: 65%;
    }
    #search {
        width: 80%;
    }
    #Tipografia_footer {
        font-size:13px;
    }
/* ****************************************************** */
    .indicador-carrito{/*carrito*/
        display: flex;
        background-color: rgba(202, 227, 227, 1);
        width: 36%;
        height: 10%;
        border-radius:30px;
        justify-content: center;
        align-items: center;
        font-size: 14px;
    
    
    }
    .resumen{/*carrito*/
        display: flex;
        background-color: rgba(196, 196, 196, 1);
        border:2px black solid;
        width: 100%;
        height: 38%;
        margin-top: 60px;
        justify-content:flex-start;
        justify-content: space-between;
        align-items: center;
        padding-right: 2px;
    }
    .imagen-producto{/*carrito*/
        display: flex;
        width: 14%;
        height: 50%;
        background-color: white;
    }
    .carrito-datos{/*carrito*/
        display: flex;
        flex-wrap: wrap;
        margin-left: 15px;
        font-size: 12px;
        margin-bottom: 3%;
    
    }
    .carrito-dato{/*carrito*/
        display: flex;
        justify-content:space-between;
        align-items: center;
        /*position: relative;
        bottom: 60px;*/
        font-size: 12px;
        margin-bottom: 3%;
    
    }
    .pos{/*carrito*/
        display: flex;
        flex-direction: column;
        justify-content:space-around;
        /*align-items: center;*/
    }
    .resumen-de-compra{/*carrito*/
        display: flex;
        background-color: rgba(222, 219, 219, 1);
        border:2px black solid;
        width: 40%;
        height: 70%;
        margin-left: 30%;
        flex-direction: column;
        justify-content:space-between;
        padding-bottom: 60px;
    
    }
    .resumen-de-compra > label{/*carrito*/
        display: flex;
        justify-content: left;
        padding-left: 10px;
        font-size: 15px;
    }
    .resumen-de-compra > div{/*carrito*/
        display: flex;
        justify-content: center;
        font-size: 15px;
    }
    .pagar{/*carrito*/
        display: flex;
        background-color: rgba(65, 82, 236, 1);
        width: 100% ;
        height:50px;
        justify-content:center;
        align-items: center;
        position: relative;
        top:27.9%;
    }
    .Datos-resumen{/*carrito*/
        display: flex;
        width: 40%;
        height: 70%;
        justify-content:center;
        align-items: center;
        font-size: 18px;
        
    
    }
    .e{/*carrito*/
        display: flex;
        width: 100%;
        height: 400px;
        margin-top: 60px;
    }
    .min{/*carrito*/
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
    }
    .espacio{/*carrito*/
        margin-left: 30%;
    }
    .indicador-detalle{/*detalle*/
        display: flex;
        background-color: rgba(202, 227, 227, 1);
        width: 380px;
        height: 30px;
        border-radius:30px;
        justify-content: center;
        align-items: center;
    
    
    }
    .imagen-detalle{/*detalle*/
        background-color: white;
        width: 40%;
        height: 60%;
        margin-top: 60px;
        margin-left: 4%;
        border: black solid 2px;
    }
    .detalle-imagen{/*detalle*/
        width: 100%;
        height: 100%;
    }
    .cuerpo-detalle{/*detalle*/
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 500px;
        margin-top: 60px;
    }
    .descripcion-producto{/*detalle*/
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: white;
        width: 40%;
        height: 60%;
        margin-top: 60px;
        margin-left: 10%;
        border: black solid 1px;
        padding: 3%;
        
    }
    .descripcion-producto > div{/*detalle*/
        font-size: 16px;
    }
    .color{/*detalle*/
        display: flex;
        width: 70%;
        height: 5%;
        flex-direction: row;
        justify-content: space-around;
        align-items:flex-start;
        
    
    }
    .color > div{
        font-size: 16px;
    }
    .circulo_color{/*detalle*/
        width: 14%;
        height: 100%;
        background-color: black;
        border-radius: 50%;
    }
    .tallas{/*detalle*/
        display: flex;
        justify-content: space-between;
        width: 87%;
        height: 13%;
        align-items: center;
        padding: 2%;
    }
    .cuadros{/*detalle*/
        display: flex;
        height: 80%;
        width: 20%;
        background-color: rgb(133, 136, 139);
        justify-content: center;
        align-items: center;
        border: black 1px solid;
        font-size: 14px;
    }
    .a_carrito{/*detalle*/
        display: flex;
        flex-direction: row;
        width: 89%;
        height:8%;
    }
    .cantidad_carrito{/*detalle*/
       width: 20%;
       height: 100%;
       
    }
    .mandar_carrito{/*detalle*/
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 89%;  
        font-size: 14px;
        background-color: blue;
        border: 1px solid black;
    
    }
    .opciones_imagen{/*detalle*/
        width: 100%;
        height: 20%;
        display: flex;
        justify-content: flex-start;
    }
    .imagenes_opcion{/*detalle*/
        height: 100%;
        width: 25%;
        background-color: white;
        border: black solid 2px;

    }
    .imagen_carrito{/*detalle*/
        width: 19%;
        height: 80%;
    }
    
}
@media (min-width: 700px) {
    .main-header-opciones {
        flex-direction: row-reverse;
    }
    .main-header-search-carrito-login,
    .main-header-menu {
        padding: 15px;
    }
    .main-header-search-carrito-login {
        justify-content: flex-end;
    }
    .main-header-menu-navbar a {
        font-size: 15px;
    }
    #iconos-shopping-user {
        padding: 0 10px;
    }
    #main-header-footer {
        padding: 8px 30px;
    }
    #section-path-nav {
        padding: 5px 30px;
    }
    .main-footer-redes a {
        font-size: 25px;
    }
    /* ************************************************** */
    .indicador-carrito{/*carrito*/
        display: flex;
        background-color: rgba(202, 227, 227, 1);
        width: 36%;
        height: 10%;
        border-radius:30px;
        justify-content: center;
        align-items: center;
        font-size: 14px;
    
    
    }
    .resumen{/*carrito*/
        display: flex;
        background-color: rgba(196, 196, 196, 1);
        border:2px black solid;
        width: 100%;
        height: 38%;
        margin-top: 60px;
        justify-content:flex-start;
        justify-content: space-between;
        align-items: center;
        padding-right: 2px;
        
    }
    .imagen-producto{/*carrito*/
        display: flex;
        width: 14%;
        height: 50%;
        background-color: white;
    }
    .carrito-datos{/*carrito*/
        display: flex;
        flex-wrap: wrap;
        margin-left: 15px;
        font-size: 12px;
        margin-bottom: 5%;
    
    }
    .carrito-dato{/*carrito*/
        display: flex;
        justify-content:space-between;
        align-items: center;
        /*position: relative;
        bottom: 60px;*/
        font-size: 12px;
        margin-bottom: 5%;
    
    }
    .pos{/*carrito*/
        display: flex;
        flex-direction: column;
        justify-content:space-around;
        /*align-items: center;*/
    }
    .resumen-de-compra{/*carrito*/
        display: flex;
        background-color: rgba(222, 219, 219, 1);
        border:2px black solid;
        width: 40%;
        height: 70%;
        margin-left: 30%;
        flex-direction: column;
        justify-content:space-between;
        padding-bottom: 60px;
    
    }
    .resumen-de-compra > label{/*carrito*/
        display: flex;
        justify-content: left;
        padding-left: 10px;
        font-size: 15px;
    }
    .resumen-de-compra > div{/*carrito*/
        display: flex;
        justify-content: center;
        font-size: 15px;
    }
    .pagar{/*carrito*/
        display: flex;
        background-color: rgba(65, 82, 236, 1);
        width: 100% ;
        height:50px;
        justify-content:center;
        align-items: center;
        position: relative;
        top:27.9%;
    }
    
    .Datos-resumen{/*carrito*/
        display: flex;
        width: 40%;
        height: 70%;
        justify-content:center;
        align-items: center;
        font-size: 18px;
        
    
    }
    .e{/*carrito*/
        display: flex;
        width: 100%;
        height: 400px;
        margin-top: 60px;
    }
    .min{/*carrito*/
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
    }
    .espacio{/*carrito*/
        margin-left: 30%;
    }
    .indicador-detalle{/*detalle*/
        display: flex;
        background-color: rgba(202, 227, 227, 1);
        width: 380px;
        height: 30px;
        border-radius:30px;
        justify-content: center;
        align-items: center;
    
    
    }
    .imagen-detalle{/*detalle*/
        background-color: white;
        width: 40%;
        height: 70%;
        margin-top: 60px;
        margin-left: 4%;
        border: black solid 2px;
    }
    .detalle-imagen{/*detalle*/
        width: 100%;
        height: 100%;
    }
    .cuerpo-detalle{/*detalle*/
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 500px;
        margin-top: 60px;
    }
    .descripcion-producto{/*detalle*/
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: white;
        width: 40%;
        height: 70%;
        margin-top: 60px;
        margin-left: 10%;
        border: black solid 1px;
        padding: 3%;
        
    }
    .descripcion-producto > div{/*detalle*/
        font-size: 16px;
    }
    .color{/*detalle*/
        display: flex;
        width: 60%;
        height: 7%;
        flex-direction: row;
        justify-content: space-between;
        align-items:flex-start;
        
    
    }
    .color > div{
        font-size: 16px;
    }
    .circulo_color{/*detalle*/
        width: 14%;
        height: 100%;
        background-color: black;
        border-radius: 50%;
    }
    .tallas{/*detalle*/
        display: flex;
        justify-content: space-between;
        width: 87%;
        height: 20%;
        align-items: center;
    }
    .cuadros{/*detalle*/
        display: flex;
        height: 90%;
        width: 18%;
        background-color: rgb(133, 136, 139);
        justify-content: center;
        align-items: center;
        border: black 1px solid;
        font-size: 14px;
    }
    .a_carrito{/*detalle*/
        display: flex;
        flex-direction: row;
        width: 85%;
        height:8%;
    }
    .cantidad_carrito{/*detalle*/
       width: 20%;
       height: 100%;
       
    }
    .mandar_carrito{/*detalle*/
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 80%;  
        font-size: 14px;
        background-color: blue;
        border: 1px solid black;
    
    }
    .opciones_imagen{/*detalle*/
        width: 100%;
        height: 20%;
        display: flex;
        justify-content: flex-start;
    }
    .imagenes_opcion{/*detalle*/
        height: 100%;
        width: 23%;
        background-color: white;
        border: black solid 2px;

    }
    .imagen_carrito{/*detalle*/
        width: 16%;
        height: 90%;
    }
}

@media (min-width: 1200px) {
    .main-footer, .main-header {
        max-width: 1200px;
    }
    #section-path-nav {
        margin-top: 110px;
    }
    #section-cuerpo, #carrusel img,
    #opciones-carrusel, #destacados {
        max-width: 1000px;
    }
    #carrusel img, #carrusel h4,
    #opciones-carrusel, #destacados {
        margin-left: 200px;
    }
    /* ********************************** */
    .indicador-carrito{/*carrito*/
        display: flex;
        background-color: rgba(202, 227, 227, 1);
        width: 23%;
        height: 10%;
        border-radius:30px;
        justify-content: center;
        align-items: center;
        font-size: 14px;
    
    
    }
    .resumen{/*carrito*/
        display: flex;
        background-color: rgba(196, 196, 196, 1);
        border:2px black solid;
        width: 100%;
        height: 38%;
        margin-top: 60px;
        justify-content: space-between;
        align-items: center;
        padding:1%;
        
    }
    .imagen-producto{/*carrito*/
        display: flex;
        width: 12%;
        height: 38%;
        background-color: white;
    }
    .carrito-datos{/*carrito*/
        display: flex;
        flex-wrap: wrap;
        margin-left: 15px;
        font-size: 16px;
        margin-bottom: 5%;
    
    }
    .carrito-dato{/*carrito*/
        display: flex;
        justify-content:space-between;
        align-items: center;
        /*position: relative;
        bottom: 60px;*/
        font-size: 16px;
        margin-bottom: 5%;
    
    }
    .pos{/*carrito*/
        display: flex;
        flex-direction: column;
        justify-content:space-around;
        /*align-items: center;*/
    }
    .resumen-de-compra{/*carrito*/
        display: flex;
        background-color: rgba(222, 219, 219, 1);
        border:2px black solid;
        width: 40%;
        height: 70%;
        margin-left: 30%;
        flex-direction: column;
        justify-content:space-between;
        padding-bottom: 60px;
    
    }
    .resumen-de-compra > label{/*carrito*/
        display: flex;
        justify-content: left;
        padding-left: 10px;
        font-size: 15px;
    }
    .resumen-de-compra > div{/*carrito*/
        display: flex;
        justify-content: center;
        font-size: 15px;
    }
    .pagar{/*carrito*/
        display: flex;
        background-color: rgba(65, 82, 236, 1);
        width: 100% ;
        height:50px;
        justify-content:center;
        align-items: center;
        position: relative;
        top:27.9%;
    }
    .Datos-resumen{/*carrito*/
        display: flex;
        width: 40%;
        height: 70%;
        justify-content:center;
        align-items: center;
        font-size: 18px;
        
    
    }
    .e{/*carrito*/
        display: flex;
        width: 100%;
        height: 400px;
        margin-top: 60px;
    }
    .min{/*carrito*/
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
    }
    .espacio{/*carrito*/
        margin-left: 30%;
    }
    .indicador-detalle{/*detalle*/
        display: flex;
        background-color: rgba(202, 227, 227, 1);
        width: 380px;
        height: 30px;
        border-radius:30px;
        justify-content: center;
        align-items: center;
    
    
    }
    .imagen-detalle{/*detalle*/
        background-color: white;
        width: 30%;
        height: 72%;
        margin-top: 60px;
        margin-left: 4%;
        border: black solid 2px;
    }
    .detalle-imagen{/*detalle*/
        width: 100%;
        height: 100%;
    }
    .cuerpo-detalle{/*detalle*/
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 500px;
        margin-top: 60px;
    }
    .descripcion-producto{/*detalle*/
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: white;
        width: 30%;
        height: 72%;
        margin-top: 60px;
        margin-left: 10%;
        border: black solid 1px;
        padding: 3%;
        
    }
    .descripcion-producto > div{/*detalle*/
        font-size: 16px;
    }
    .color{/*detalle*/
        display: flex;
        width: 60%;
        height: 7%;
        flex-direction: row;
        justify-content: space-between;
        align-items:flex-start;
        
    
    }
    .color > div{
        font-size: 16px;
    }
    .circulo_color{/*detalle*/
        width: 14%;
        height: 100%;
        background-color: black;
        border-radius: 50%;
    }
    .tallas{/*detalle*/
        display: flex;
        justify-content: space-between;
        width: 87%;
        height: 20%;
        align-items: center;
    }
    .cuadros{/*detalle*/
        display: flex;
        height: 90%;
        width: 18%;
        background-color: rgb(133, 136, 139);
        justify-content: center;
        align-items: center;
        border: black 1px solid;
        font-size: 14px;
    }
    .a_carrito{/*detalle*/
        display: flex;
        flex-direction: row;
        width: 85%;
        height:10%;
    }
    .cantidad_carrito{/*detalle*/
       width: 20%;
       height: 100%;
       
    }
    .mandar_carrito{/*detalle*/
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 80%;  
        font-size: 14px;
        background-color: blue;
        border: 1px solid black;
    
    }
    .opciones_imagen{/*detalle*/
        width: 100%;
        height: 20%;
        display: flex;
        justify-content: flex-start;
    }
    .imagenes_opcion{/*detalle*/
        height: 100%;
        width: 23%;
        background-color: white;
        border: black solid 2px;

    }
    .imagen_carrito{/*detalle*/
        width: 16%;
        height: 90%;
    }


}



