<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body class="register">
    <%- include('../partials/header') %>
    <!--contenido de la página de registro-->
    <article >
        <div class="login">
            <div class="subtitle">
                <h2>Iniciar Sesión</h2>
            </div>
            <form action="/user/login" method="POST">
                <h3>Ingresa tu correo electrónico y contraseña:</h3>
                <br>
                <label for="login-email">
                    <p><span>*</span>E-Mail:</p>
                    <input id="login-email" type="email" name="user" required>
                </label>
                <label for="login-password">
                    <p><span>*</span>Contraseña:</p>
                    <input id="login-password" type="password" name="password" required>
                </label>
                <label for="remember-login">
                    <p><span></span>Recordar Sesión</p>
                    <input id="remember-login" type="checkbox" name="remember-login">
                </label>
                <button type="submit">Iniciar Sesión</button>
                <p class="info"><a href="#forgot-password">¿Olvidaste tu contrseña?</a></p>
            </form>
        </div>
        
        <div class="signup">
            <div class="subtitle">
                <h2>¿Aún no tienes una cuenta? ¡Regístrate!</h2>
            </div>
            <form>
                <h3>Completa los siguientes datos:</h3>
                <br>
                <label for="first_name">
                    <p><span>*</span>Nombre:</p>
                    <input id="first_name" type="text" name="first_name" required>
                </label>
                <label for="last_name">
                    <p><span>*</span>Apellido:</p>
                    <input id="last_name" type="text" name="last_name" required>
                </label>
                <label for="signup-email">
                    <p><span>*</span>E-Mail:</p>
                    <input id="signup-email" type="email" name="user" required>
                </label>
                <label for="signup-password">
                    <p><span>*</span>Contraseña:</p>
                    <input id="password" type="password" name="password" required>
                </label>
                <label for="signup-password-confirm">
                    <p><span>*</span>Confirmar<br>Contraseña:</p>
                    <input id="signup-password-confirm" type="password" name="password" required>
                </label>
                <label id="tnc" for="accept-tnc">   
                    <input id="accept-tnc" type="checkbox" name="yes" required value="yes"><p id="tnc-statement"><span>*</span>Acepto los <a href="#terms-and-conditions">términos y condiciones</a></p><br>  
                </label>
                <button type="submit">Crear Cuenta</button>
                <div id="#signup-ends"></div>
            </form>
        </div>
    </article>
</body>
<!-- contenido del pie de pagina-->
<%- include('../partials/footer') %>
</html>