<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>

    <section id="section-path-nav">
        <div>
            <h3>Home | Género |Categorías</h3>
        </div>
    </section>     
    <div class="categorias-cuerpo">
        <div class="categorias-categorias">
            <div class="categorias-tipo">
                <div class="categorias-nombre">Jeans</div>
            </div>
            <div class="categorias-tipo">
                <div class="categorias-nombre">Playeras</div>
            </div>
            <div class="categorias-tipo">
                <div class="categorias-nombre">Pants</div>
            </div>
            <div class="categorias-tipo">
                <div class="categorias-nombre">Chamarras</div>
            </div>
        </div>
        <div class="categorias-desplegar">
            <div class="categorias-filtro">
                <div>Ordenar por</div>
                <select class="categorias-ordenar" name="select" id="ordena">
                    <option value="seleccion">Precio alto</option>
                    <option value="seleccion">Precio bajo</option>
                </select>
            </div>
            <div class="categorias-inventario">
                <div class="categorias-disposicion">
                    <div class="categorias-productos"><a href="/detalle-producto">
                        <img class="categorias-imagenes" src="images\ropa1.jpg" alt="ropa"></a>
                        <div class="categorias-info">
                            <div class="datos"> ID Producto 
                            </div>
                            <div class="datos">  Talla | $Precio
                            </div>
                        </div>
                    </div>
                    <div class="categorias-productos"><a href="/detalle-producto">
                        <img class="categorias-imagenes" src="images\ropa2.jpg" alt="ropa"></a>
                        <div class="categorias-info">
                            <div class="datos"> ID Producto 
                            </div>
                            <div class="datos">  Talla | $Precio
                            </div>
                        </div>
                    </div>
                    <div class="categorias-productos"><a href="/detalle-producto">
                        <img class="categorias-imagenes" src="images\ropa3.jpg" alt="ropa"></a>
                        <div class="categorias-info">
                            <div class="datos"> ID Producto 
                            </div>
                            <div class="datos">  Talla | $Precio
                            </div>
                        </div>
                    </div>
                </div>
                <div class="categorias-disposicion">
                    <div class="categorias-productos"><a href="/detalle-producto">
                        <img class="categorias-imagenes" src="images\ropa4.jpg" alt="ropa"></a>
                        <div class="categorias-info">
                            <div class="datos"> ID Producto 
                            </div>
                            <div class="datos">  Talla | $Precio
                            </div>
                        </div>
                    </div>
                    <div class="categorias-productos"><a href="/detalle-producto">
                        <img class="categorias-imagenes" src="images\ropa5.jpg" alt="ropa"></a>
                        <div class="categorias-info">
                            <div class="datos"> ID Producto 
                            </div>
                            <div class="datos">  Talla | $Precio
                            </div>
                        </div>
                    </div>
                    <div class="categorias-productos"><a href="/detalle-producto">
                        <img class="categorias-imagenes" src="images\ropa6.jpg" alt="ropa"></a>
                        <div class="categorias-info">
                            <div class="datos"> ID Producto 
                            </div>
                            <div class="datos">  Talla | $Precio
                            </div>
                        </div>
                    </div>
                </div>
                <div class="categorias-disposicion">
                    <div class="categorias-productos"><a href="/detalle-producto">
                        <img class="categorias-imagenes" src="images\ropa7.jpg" alt="ropa"></a>
                        <div class="categorias-info">
                            <div class="datos"> ID Producto 
                            </div>
                            <div class="datos">  Talla | $Precio
                            </div>
                        </div>
                    </div>
                    <div class="categorias-productos"><a href="/detalle-producto">
                        <img class="categorias-imagenes" src="images\ropa8.jpg" alt="ropa"></a>
                        <div class="categorias-info">
                            <div class="datos"> ID Producto 
                            </div>
                            <div class="datos">  Talla | $Precio
                            </div>
                        </div>
                    </div>
                    <div class="categorias-productos"><a href="/detalle-producto">
                        <img class="categorias-imagenes" src="images\ropa9.jpg" alt="ropa"></a>
                        <div class="categorias-info">
                            <div class="datos"> ID Producto 
                            </div>
                            <div class="datos">  Talla | $Precio
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
            <div class="categorias-siguiente">Siguiente
            </div>
        </div>
    </div>
</body>
<%- include('../partials/footer') %>
</html>